// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700');
$font-family-base: 'Noto Sans', sans-serif;

// Colors
$purple: #4d394b;
$green: #4C9689;
$gray: rgb(202, 196, 201);
$text-gray: #a0a0a2;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background: $purple;
  padding: 20px;
  color: $gray;

  a {
    display: block;
    height: 26px;
    line-height: 26px;
    color: $gray;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }
}

.content {
  padding-left: 250px;
}